SECRET_KEY=generate_with__python3_-c__import_secrets__print(secrets.token_hex(32))
BASE_URL=http://localhost:8070
# EXTRA_ALLOWED_HOSTS=links.example.fr,links.example.net
OIDC_CLIENT_ID=your-pocketid-client-id
OIDC_CLIENT_SECRET=your-pocketid-client-secret
OIDC_ISSUER=https://auth.example.com
FRESHRSS_SYNC_INTERVAL=30
